:root {
    --clr-primary-cyan: hsl(158, 36%, 37%);
    --clr-primary-dark-cyan: hsl(158, 42%, 18%);

    --clr-neutral-dark-blue: hsl(212, 21%, 14%);
    --clr-neutral-grayish-blue: hsl(228, 12%, 48%);
    --clr-neutral-cream: hsl(30, 38%, 92%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --ff-sans: 'Montserrat', sans-serif;
    --ff-serif: 'Fraunces', serif;

    --fw-regular: 500;
    --fw-bold: 700;

    --fs-body: 14px;
    --card-radius: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--ff-sans);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    line-height: 1.6;

    background-color: var(--clr-neutral-cream);
    color: var(--clr-neutral-grayish-blue);

    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 1.5rem 1rem;
}

h1 {
    font-family: var(--ff-serif);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-dark-blue);
    font-size: 2;
    line-height: 1;
}

.product-card {
    max-width: 345px;
    width: 100%;

    background-color: var(--clr-neutral-white);
    border-radius: var(--card-radius);

    overflow: hidden;
}

.product-image {
    width: 100%;
}

.product-content {
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;    
}

.product-category {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.75rem;
}

.product-title {
    font-family: var(--ff-serif);
    font-size: 2rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-dark-blue);
    line-height: 1;
}

.product-description {
    font-size: var(--fs-body);
    color: var(--clr-neutral-grayish-blue);
}

.product-price-group {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.current-price {
    font-family: var(--ff-serif);
    font-size: 2rem;
    color: var(--clr-primary-cyan);
    font-weight: var(--fw-bold);
}

.old-price {
    font-size: var(--fs-body);
}

.add-to-cart-button {
    cursor: pointer;
    border: none;
    background-color: var(--clr-primary-cyan);
    color: var(--clr-neutral-white);
    padding: 0.9rem 0;
    border-radius: 8px;
    font-weight: var(--fw-bold);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    transition: background-color 0.2s ease;
}

.add-to-cart-button:hover,
.add-to-cart-button:focus {
    background-color: var(--clr-primary-dark-cyan);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 650px) {
    .product-card {
        max-width: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .product-image {
        height: 100%;
        border-radius: var(--card-radius) 0 0 var(--card-radius);
    }

    .product-content {
        padding: 2rem;
        border-radius: 0 var(--card-radius) var(--card-radius) 0;
        gap: 1.5rem;
    }

    .product-category {
        margin-top: 1.55rem;
    }

    .product-description {
        line-height: 1.55;
    }
}